{% extends 'Movies/base.html' %}
{% block content %}
<div class="container"> <br />
<h1>Movies App</h1>
   
        <hr>


<div class="row">
        <div class="col-lg-12">
         <h1>Movie List <button onclick="window.location='{% url 'movie'  %}'" type="button" class="btn btn-primary" name="Click">Click</button>
       </h1>
       
        </div>
   </div>

   

    <div class="row">
        <div class="col-lg-12">
         <h1>Genre List <button onclick="window.location='{% url 'genre'  %}'" type="button" class="btn btn-primary" name="Click">Click</button>
       </h1>
       
        </div>
   </div>

    <div class="row">
        <div class="col-lg-12">
         <h1>Studio List <button onclick="window.location='{% url 'studio'  %}'" type="button" class="btn btn-primary" name="Click">Click</button>
       </h1>
       
        </div>
   </div>

<div class="row">
        <div class="col-lg-12">
         <h1>Directors List <button onclick="window.location='{% url 'director'  %}'" type="button" class="btn btn-primary" name="Click">Click</button>
       </h1>
       
        </div>
   </div>
</div>
{% endblock %}