{% extends 'Movies/base.html' %} {% block content %}

<section>
    <div class="container">
        <div class="columns  is-vcentered">
            <div class="column">
                <img src="{{ MEDIA_ROOT }}/{{ movie.cover_image.url }}" height="200" width="200" class="image" alt="">
            </div>

            <strong>Name : </strong> {{movie.title}}
            <br>
            <strong>Subtitle : </strong> {{movie.subtitle}}
            <br>
            <strong>Directors: </strong> {% for director in movie.directors.all %}{{director}} {% endfor %}
            <br>
            <strong>Studio : </strong> {{movie.studio.title}}
            <br>
            <strong>Release Date : </strong> {{movie.release_date}}
            <br>
            <strong>Genre : </strong> {% for genre in movie.genre.all %}{{genre.title}} {% endfor %}
            <br>
            <strong>ASIN : </strong> {{movie.asin}}
            <br>
            <strong>Review : </strong>
            <p>{{movie.review}}</p>
            <br>


        </div>
    </div>
</section>

{% endblock content %}