{% extends 'Movies/base.html' %}
{% block content %}
<div class="container"> <br />
<button onclick="window.location='{% url 'index' %}'" type="button" class="btn btn-default" name="Click">Home Page</button> 

        <br />
    <div class="row">
        <div class="col-lg-6"><br><br>
           <h1>Studio List </h1>  <br>
            {% for movie in movies  %}
                   
               <li> {{movie.studio}}</li>
   
   
            {% endfor %}
        </div>

        <div class="row" >
        <div class="col-lg-12"> <br>
        <h1>Studio Related Movies </h1>  <br>
            {% for movie in movies  %}
         <h > <li> {{ movie.title }}  <button onclick="window.location='{% url 'details' pk=movie.id %}'" type="button" class="btn btn-default" name="Click">Details</button>
                </li> 
                     </h>
            {% endfor %}
        </div>
    </div>
   
</div>
{% endblock %}


