{% extends 'Movies/base.html' %} {% block content %}

<section>
    <div class="container">
        <div class="columns  is-vcentered">
            <strong>Name : </strong> {{studio.title}}
            <br>
            <strong>Prefix : </strong> {{studio.prefix}}
            <br>
            <strong>website : </strong> {{studio.website}}
            <br>
            <strong>Movies : </strong> {% for movie in studio.moviestudio.all %} {{movie.title}} {% endfor %}
            <br>
        </div>
    </div>
</section>

{% endblock content %}