{% extends 'messageboard/base.html' %}
{% block content %}
<div class="container">

    <br />
    <div class="row">
        
        <h1>Blog App</h1>                <button  onclick="window.location='{% url 'addblog' %}'" type="button" class="btn btn-success">Add Blog</button>

        
            <div class="col-lg-12">
    
            </div>
        <br><br>
    </div>
        <div class="row">
            <div class="col-lg-6">
                <h1>Categories</h1>
                 {% for blog in blogs %}
                        {% for categories in blog.categories.all  %}
                             <li><a href="{{blog.slug}}">{{categories.title}}</a></li>
                        {% endfor %} 
                 {% endfor %}

            </div>
            <div class="col-lg-6">
                   <h1 align="center"> Blog list</h1>
                       
            {% for blog in blogs %}
                  <li>  <a href="{{blog.slug}}">{{blog.title}}</a><p> by {{blog.author}}</p></li>
            {% endfor %}

            </div>
        </div>
</div>
    
</div>
{% endblock %}