
{% extends 'messageboard/base.html' %}

{% block content %}

<div class="post_entry">
        <br />
             <div class="row">
              <div class="col-lg-6">
                    <form method="get">
                        {{ filter.form.as_p }}
                            <button type="submit">Search</button>
                        </form>
              </div>  
              <ul>
                  <div class="col-lg-12">
                    {% for Post in filter.qs %}
                        <li>{% include 'messageboard/post_details.html' %}</li>
                    {% endfor %}
                  </div>
                </ul>
            </div>
</div>
{% endblock %}