{% extends 'messageboard/base.html' %}
{% block content %}
<div class="container">

    <br />
    <div class="row">
        
        <h1>Message App</h1>
        
            <div class="col-lg-12">
                <button  onclick="window.location='{% url 'add' %}'" type="button" class="btn btn-success">Add Post</button>
    
            </div>
        
    </div>
    <div class="row">
            <div class="col-lg-6">
                <h1></h1>
                   <button  onclick="window.location='{% url 'tagdetails' %}'" type="button" class="btn btn-success">Check Categories</button>

        </div>
            <div class="col-lg-6">
                   <h1 align="center"> List of Posts</h1>
                        {% for Post in posts  %}
                            {% include 'messageboard/postlist.html' %}
                        {% endfor %}
            </div>
    </div>
</div>
    
</div>
{% endblock %}