{% extends 'messageboard/base.html' %}
{% block content %}
<div class="container "><br />
    <hr>
   <button onclick="window.location='{% url 'index1' %}'" type="button" class="btn btn-default" name="Click">Home Page</button>  
    
    <div class="row ">
        <div class="col-lg-12">
            <h1 align="center"> Post's Detail</h1><hr><br>
              <h5 align="center">  {{Post.title}} </h5><p><b>Tags : {{Post.tag.get}}</p>
                   
                   <p><b>" {{Post.content}} "</p>
                   <p><b>By : {{Post.author}} </b></p>
                           </b>
              
        </div>

        <div class="col-lg-12"><hr>
            <p>Comment : {{Post.comment}}</p>

        </div>

   </div>

</div>
{% endblock %}